<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="0 0 1" rpy="0 0 0"/>
    </joint>
    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.010 0.03 0.03"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="0.010 0.03 0.03"/>
            </geometry>
        </collision>
        <sensor type="depth" name="camera">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <camera name="intel_realsense_r200">
                <horizontal_fov>1.02974</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <!-- Noise is sampled independently per pixel on each frame.
                  That pixel's noise value is added to each of its color
                  channels, which at that point lie in the range [0,1]. -->
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <ros>
                    <imageTopicName>/camera/image_raw</imageTopicName>
                    <cameraInfoTopicName>/camera/image_raw</cameraInfoTopicName>
                    <depthImageTopicName>/camera/depth/image_raw</depthImageTopicName>
                </ros>
                <hack_baseline>0.07</hack_baseline>
                <!-- No need to repeat distortion parameters or to set autoDistortion -->
                <min_depth>0.2</min_depth>
                <max_depth>8.0</max_depth>
            </plugin>
        </sensor>
    </link>
</robot>